@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root,
html,
body,
.app {
  width: 100%;
  height: 100%;
  @apply bg-white text-sm text-gray-900 dark:bg-black;
}

@layer utilities {
  .search-input-cancel-icon::-webkit-search-cancel-button {
    margin-left: 8px;
  }
}
